<head>
  <title>Testing</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/images/favicon.png" rel="icon">
  <link rel="stylesheet" href="/images/apple-touch-logo" rel="apple-touch-icon">
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Open+Sans|Raleway:100" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/fonts/font-awesome-free-5.0.10-2/web-fonts-with-css/css/fontawesome-all.css">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/stylesheet.css">
</head>